<h1>Lista de Compras</h1>
<section><h2>Frutas</h2></section>
<ul>
    <li> <h3>Piña</h3> </li>
    <li> <h3>Manzana</h3> </li>
    <li> <h3>Naranja</h3> </li>
    <li> <h3>Platanos</h3> </li>
</ul>
<section><h2>Lacteos</h2></section>
<ul>
    <li> <h3>Leche</h3> </li>
    <li> <h3>Yogurt</h3> </li>
    <li> <h3>Queso</h3> </li>
</ul>
<section><h2>Pescado</h2></section>
<ul>
    <li> <h3>Salmon</h3> </li>
    <li> <h3>Atun</h3> </li>
</ul>
<section><h2>Otros</h2></section>
<ul>
    <li> <h3>Aceite</h3> </li>
    <li> <h3>Cafe</h3> </li>
    <li> <h3>Chocolate</h3> </li>
    <li> <h3>Huevos</h3> </li>
</ul>